version: "3.9"

services:
  postgres:
    image: postgis/postgis:17-3.5
    container_name: postgres
    environment:
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      POSTGRES_DB: $POSTGRES_DB
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    command: bash -c "docker-entrypoint.sh postgres"

volumes:
  postgres-data:
